main {
  height: 100vh;
  width: screen;

}

.displaypg3 {
  background-color: rgb(141, 190, 236);
  height: 90px;
  width:  1200px;
  display: flex;
  justify-content: left;
  align-items: center;
  justify-self: center;
  border-radius: 12px;
}

.displaypg3 h1 {
  color: rgb(69, 80, 236);
  font-size: x-large;
  display: flex
}

.saldo {
  width: 500px;
  height: full;
  background-color: rgb(95, 156, 226);
  display: flex;
  padding-bottom: 3px;
  padding-top: 3px;
  align-items: center;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 12px;
}

.saldo h1 {
  color: white;
  font-size: x-large;
}

.botao_pag3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.botao_pag3 button {
  background-color: rgb(103, 207, 255);
  margin-left: 50px;
  margin-right: 50px;
  width: 295px;
  height: 200px;
  border-color: white;
  border-width: 2px;
  border-radius: 12px;
  position: relative;
  font-size: xxx-large;
}

.botao_pag3 button:hover{
  background-color: rgb(238, 63, 63);
  align-items: center;
  justify-self: center;
  justify-content: center;
  position: static;
  border-color: white;
}

.botao_pag3 h2{
  color: black;
  font-size: xx-large;
  font-weight: 500;
  margin-left: 20px;
}

#segundalinha{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  margin-left: 40px;
  margin-right: 50px;
}

#linha2{
  align-items: right;
  justify-items: right;
  display: flex;
  margin-left: 700px;
}

.quantidade{
  display: flex;
  justify-content: right;
  align-items: center; 
  margin-right: 100px;
  gap: 20px;
}

.quantidade h1{
  color: black;
  font-size: medium;
  margin-right: 5px;
  margin-left: 10px;
  justify-items: center;
  align-items: center;
}

.quantidade button{
  color: white;
  font-size: medium;
  width: 5px;
  height: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(66, 66, 168);
}

.quantidade button:hover {
  background-color: rgb(235, 136, 136);
}

#quantidadebaixo{
  justify-items: left;
  align-items: left;
}

.dv{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-items: left;
  height: 50;
  margin-bottom: 100px;
}

.dv button{
  background-color: rgb(84, 84, 204);
  height: 60px;
  width: 200px;
  margin-left: 20px;
  font-size: xx-large;
  justify-content: center;
  align-content: center;
  display: flex;
  padding-bottom: 50px;
}

.dv button:hover{
  background-color: rgb(216, 82, 82);
  border-color: white;
}

.dv h2{
  font-size: xx-large;
  color:white;
}

#a{
  justify-content: right;
  align-items: end;
  margin-left: 370px;
  background-color: white;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}

#a h2{
  color: rgba(0, 17, 255, 0.589);
  font-size: medium;
}

#c{
  margin-left: 600px;
}