#margem {
  height: 100vh;
  width: 100%;
  align-items: center;
  margin-left: 200px;
}

#inputID::placeholder{
  color : rgb(255, 255, 255);
  opacity: 1;
}

.caixaAPI{
  width: 1288px;
  height: 82px;
  font-size: 40px;
  background-color: #0073E6;
  margin-top: 20px;
  opacity: 30%;
  align-items: center;
  justify-self: center;
  display: block;
  border-radius: 10px;
}

.titulo{
  margin-bottom: 100px;
  justify-self: center;
  padding-top: 100px;
}


